@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@layer components {
  .primary-button {
    @apply rounded bg-blue-500 px-4 py-2 font-bold text-white;
  }

  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

.customscroll {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.customscroll::-webkit-scrollbar {
  width: 0px;
}

.customscroll::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 5px;
}

.customscroll::-webkit-scrollbar-track {
  background-color: #f9fafb;
}

.customscroll::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}
