@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@layer components {
  .primary-button {
    @apply rounded bg-blue-500 px-4 py-2 font-bold text-white;
  }

  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

.customscroll {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.customscroll::-webkit-scrollbar {
  width: 0px;
}

.customscroll::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 5px;
}

.customscroll::-webkit-scrollbar-track {
  background-color: #f9fafb;
}

.customscroll::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}

/* Custom button styles */
button[data-variant='transparent'] {
  background-color: transparent;
  color: #fff;
}

.wrappers {
  height: 95vh;
  width: 100%;
  display: block;
  font-size: 13px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.title {
  height: 40px;
  margin-left: 40px;
  margin-top: 40px;
  color: #4e82c3;
  font-size: 15px;
  text-align: left;
}
h4 {
  display: block;
}
.tabbars {
  border-right: 3px solid #ffc000;
  min-width: 230px;
  width: 230px;
  height: calc(90vh);
}
.header {
  border-bottom: 3px solid #ffc000;
  width: 100%;
  height: 140px;
}
.contten_main {
  display: block;
  width: calc(100%-230px);
}
.userpas1 {
  text-align: left;
  width: 1000px;
}
.userpasss {
  margin-bottom: 10px;
  text-align: right;
  width: calc(100% - 10px);
  margin-right: 5px;
}
.userpass {
  width: 100%;
}
.content_mainview {
  display: block;
  max-height: calc(100vh - 247px);
  /* overflow-y: scroll; */
  /* overflow-x: scroll; */
  overflow: auto;
  width: calc(100vw - 240px);
  overflow-x: auto;
}
.content {
  height: 100%;
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-size: 11px;
}

th {
  border-bottom: 1px solid #93bfeb;
  border: 0.5px solid black;
  background-color: #3398ff;
  color: white;
  font-weight: 100;
  min-width: 25px;
  text-align: center;
  white-space: nowrap;
  height: 25px;
}

td {
  text-align: center;
  border: 0.5px solid black;
  max-height: 21px;
  text-align: left;
  white-space: nowrap;
}
