html {
  scroll-snap-type: y mandatory;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// @keyframes intro-color {
//   0% {
//     -webkit-text-stroke-color: #000;
//   }
//   50% {
//     -webkit-text-stroke-color: #fff;
//   }
// }

@keyframes cursor {
  50% {
    border: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  perspective: 500px;
  position: relative;
  overflow: hidden;

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: -1000px;
    right: -1000px;
    bottom: -1000px;
    left: -1000px;

    background: conic-gradient(#ffffffaa, #000000aa);
    animation: spin 5s linear infinite;
    filter: drop-shadow(0 0 10px #6366f1) blur(1000px);
  }

  > div:first-child:where(:not([data-none])) {
    position: absolute;
    inset: 40px;
    border-radius: 20px;
    overflow: hidden;
    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: -1000px;
      right: -1000px;
      bottom: -1000px;
      left: -1000px;
      background: conic-gradient(#fff, #000);
      animation: spin 5s linear infinite;
      filter: drop-shadow(0 0 10px #6366f1);
    }
  }
}

.intro {
  letter-spacing: 0px;
  // animation: intro-color 5s linear infinite;
  // mix-blend-mode: difference;
  .intro-text {
    -webkit-text-stroke: 0.5px rgba($color: #56d40d, $alpha: 1);
  }
  .intro-overlay {
    width: 0%;
    border-right: 5px solid rgba($color: #6366f1, $alpha: 1);
    transition: width 1s;
    display: block;
    animation: cursor 0.4s step-end infinite alternate;
  }
  &:hover .intro-overlay {
    width: 100%;
    filter: drop-shadow(0 0 100px #6366f1);
    // animation:
    //   typing 2s steps(50, end),
    //   cursor 0.4s step-end infinite alternate;
  }
}

.text-with-background {
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
